{% extends 'base.html' %}
{% load static %}
{% block title %}

My Blog

{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post.css' %}">
<link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block content %}
<section id="welcome">
    <header>
        <img src="{% static 'blog/images/1.jpg' %}" height="100" width="100" alt="Max - The author of this blog">
        <h2>Max's Blog</h2>
    </header>
<p>I am Max and I love to blog about tech and the world</p>
</section>
<section id="latest-posts">
    <h2>My Latest Thoughts</h2>
    <ul>
        {% for post in posts %}
            {% include "blog/includes/post.html" %}
        {% endfor %}

    </ul>
</section>
<section id="about">
    <h2>What I Do</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius ducimus ipsa sapiente amet maiores temporibus voluptatem ab accusantium nisi quos iure ut quam quis unde similique repellat, itaque, ullam repudiandae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta soluta reprehenderit quisquam debitis voluptate. Voluptates, laborum sed distinctio praesentium impedit dicta fuga. Laboriosam natus labore officiis suscipit provident ipsum dolore!</p>
</section>

{% endblock %}